.Hero-section {
  margin-bottom: 200px;
  height: 1500px;
  position: relative;
}
.Hero-section-text {
  color: var(--TextColor);
}

.Hero-section-animation {
  position: absolute;
  top: 45%;
  margin: 0;
  right: 0px;
}

.Calltoaction-section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.Calltoaction-section-content {
  max-width: 650px;
}

.heading-2 {
  color: var(--TextColor);
}

.smaller-placeholder {
  max-width: 500px;
}

.Mission-section {
  padding-top: 150px;
}

.Mission-section-placeholder {
  margin-left: 150px;
}

.Mission-section-col1 {
  min-width: 450px;
}

.Projects-section {
  margin: 200px 0px;
}

.Project-card-img-div {
  vertical-align: middle;
  max-height: 450px;
  max-width: 600px;
}

.Project-card-img {
  width: 100%;
  border-radius: 8px;
  border-color: var(--MainColor);
  border-style: solid;
  border-width: 4px;
  box-shadow: 10px 10px 0px var(--MainColor);
  transition-duration: 0.3s;
}

.Project-card-img:hover {
  box-shadow: 2px 2px 0px 2px var(--MainColor),
    -2px -2px 0px 2px var(--MainColor);
  transition-duration: 0.3s;
}

.Project-card {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .sec.Footer-aboutme {
  width: 40%;
}

footer .container .sec.Footer-aboutme h3 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer .container .sec.Footer-aboutme h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 8px;
}

.sci li a:hover{
  background-color: #f00;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}
