.Hero-section {
  position: relative;
  height: 100vh;
  margin-bottom: 200px;
}
.Hero-section-text {
  color: var(--TextColor);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Hero-section-animation {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Hero-section-animation img {
  height: 600px;
}
@media (min-width: 375px) {
  
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (max-width: 992px) {
  .Hero-section {
    position: relative;
    height: 100vh;
    display: grid;
  }
}
@media (min-width: 992px) {
  .Hero-section-text h1 {
    font-size: 3.5rem;
  }
  .Hero-section-text p {
    font-size: 0.9rem;
  }
  .Hero-section-animation img {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .Hero-section-text h1 {
    font-size: 4.5rem;
  }
  .Hero-section-text p {
    font-size: 1.2rem;
  }
  .Hero-section-animation img {
    height: 500px;
  }
}
@media (min-width: 1400px) {
  .Hero-section-text h1 {
    font-size: 5rem;
  }
  .Hero-section-text p {
    font-size: 1.3rem;
  }
  .Hero-section-animation img {
    height: 600px;
  }
}
@media (min-width: 2560px) {
  .Hero-section-text h1 {
    font-size: 6rem;
  }
  .Hero-section-text p {
    font-size: 1.6rem;
  }
  .Hero-section-animation img {
    height: 800px;
  }
}

.Calltoaction-section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.Calltoaction-section-content {
  min-width: 650px;
}

.heading-2 {
  color: var(--TextColor);
}

.smaller-placeholder {
  min-width: 500px;
}

.Mission-section {
  padding-top: 150px;
}

.Mission-section-placeholder {
  margin-left: 150px;
}

.Mission-section-col1 {
  min-width: 450px;
}

.Projects-section {
  margin: 200px 0px;
}

.Project-card-img-div {
  vertical-align: middle;
  max-height: 450px;
  min-width: 600px;
}

.Project-card-img {
  width: 100%;
  border-radius: 8px;
  border-color: var(--MainColor);
  border-style: solid;
  border-width: 4px;
  box-shadow: 10px 10px 0px var(--MainColor);
  transition: all 0.3s ease 0s;
}

.Project-card-img:hover {
  border-color: var(--ActiveColor);
  /* box-shadow: 2px 2px 0px 2px var(--MainColor),
    -2px -2px 0px 2px var(--MainColor); */
  box-shadow: none;
  cursor: pointer;
}

.Project-card {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Project-card-description p {
  margin: 30px 0px;
}
