.logo-img{
  height: 60px;
}


.Hero-section {
  margin-bottom: 200px;
  height: 1500px;
  position: relative;
}
.Hero-section-text {
  color: var(--mainTextColor);
}

.Hero-section-animation {
  position: absolute;
  top: 45%;
  margin: 0;
  right: 0px;
}

.Calltoaction-section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.Calltoaction-section-content {
  max-width: 650px;
}

.heading-2 {
  color: var(--mainTextColor);
}

.smaller-placeholder {
  max-width: 500px;
}

.Mission-section {
  padding-top: 150px;
}

.Mission-section-placeholder {
  margin-left: 150px;
}

.Mission-section-col1 {
  min-width: 450px;
}

.Projects-section {
  margin-top: 200px;
}

.Project-card-img-div {
  vertical-align: middle;
  max-height: 450px;
  max-width: 600px;
}

.Project-card-img {
  width: 100%;
  border-radius: 8px;
  border-color: var(--accentMainColor);
  border-style: solid;
  border-width: 4px;
  box-shadow: 10px 10px 0px var(--accentMainColor);
  transition-duration: 0.3s;
}

.Project-card-img:hover {
  box-shadow: 2px 2px 0px 2px var(--accentMainColor), -2px -2px 0px 2px var(--accentMainColor);
  transition-duration: 0.3s;
}

.Project-card {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
